<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="API Tests">
        <classes>
            <class name="tests.CreateTokenTest"/>
            <class name="tests.CreateBookingTest"/>
            <class name="tests.GetBookingIdsTest"/>
            <class name="tests.GetBookingTest"/>
            <class name="tests.UpdateBookingTest"/>
            <class name="tests.PartialUpdateBookingTest"/>
            <class name="tests.DeleteBookingTest"/>
        </classes>
    </test>
</suite>
